.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--Grey-light-2);
    box-shadow: var(--shadow-dark);
    min-height: 50rem;
    
    @media only screen and (max-width:$bp-largest) {
        margin: 0;
        max-width: 100%;
        max-height: 100%;
    }
}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom:1px solid var(--Grey-light-2);
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-size:1.4rem;
    
     
    
}

.content {
    display: flex;
    
    @media only screen and (max-width:$bp-medium) {
        flex-direction: column;
    }
   
}

.sidebar {
    background-color: var(--Grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    
    
}

.hotel-view {
    background-color: #fff;
    flex: 1;
    
}


.detail {
    display: flex;
    padding: 4.5rem;
    border-bottom: 1px solid var(--Grey-light-2);
    font-size: 1.4rem;
    
    
             @media only screen and (max-width:$bp-medium) {
        
            padding: 3rem;
        }
    
    
             @media only screen and (max-width:$bp-small) {
        
            flex-direction: column;
        }
    
}

.description {
    background-color: #fff;
    box-shadow: 0 2rem 5rem rgba(0,0,0,.06);
    flex: 0 0 60%;
    margin-right: 4.5rem;
    padding: 3rem;
    font-size: 1.4rem;
    
    
             @media only screen and (max-width:$bp-medium) {
        
            padding: 2rem;
                 margin-right: 3rem;
        }
    
    
             @media only screen and (max-width:$bp-small) {
        
            margin-right: 0;
                 margin-bottom: 3rem;
        }
    }
    
    
.user-reviews {
      
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}






